<h2>Doggie Profile</h2>

<p>Enter the dog's details below. Please be as accurate as possible.</p>

<div class="span-8">
  <h4>Behaviour Evaluation</h4>
  <form action="/behavior_eval" method="post">
    <label>Date Completed</labeL>
    <input type="text" name="be_date_done">
    <label>Handler</label>
    <input type="text" name="be_handler">
    <label>Observer</label>
    <input type="text" name="be_observer">
    <label>Handling Notes</label>
    <textarea name="be_handling_notes"></textarea>
    <label>Resource Notes</label>
    <textarea name="be_resource_notes"></textarea>
    <label>Dog Test Result</label>
    <select name="be_dog_test">
        <option value="Okay">Okay</option>
        <option value="Dog Selective">Dog Selective</option>
        <option value="No Dogs">No Dogs</option>
    </select>
    <label>Cat Test Result</label>
    <select name="be_cat_test">
        <option value="Okay">Okay</option>
        <option value="No Dogs">No Cats</option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Medical Section  &rarr; " class="btn btn-warning">
  </form>
</div>