<h2><%= session[session[:current_dog]][:dog_name] %>'s profile</h2>

<div>
    <%session.each do |title, info| %>
      <% if info.kind_of?(Hash) %>
        <% if info.to_a.flatten.include?(session[:current_dog]) %>
          <% info.each do |key, value| %>
            <% formatted_title = key.to_s.split("_").join(" ").capitalize %>
            <p><%= "#{formatted_title}: #{value}" %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>


<h4>Other Dogs</h4>

<div>
    <%session.each do |title, info| %>
      <% if info.kind_of?(Hash) %>
        <% if info.to_a.flatten.include?(:dog_name) %>
          <% if info[:dog_name] != session[:current_dog] %>
            <p><%= "#{info[:dog_name]}" %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>


<!-- <div>
    <%session.each do |title, info| %>
      <% if info.kind_of?(Hash) %>
        <% if info.to_a.flatten.include?(:dog_name) %>
          <% info.each do |key, value| %>
            <% formatted_title = key.to_s.split("_").join(" ").capitalize %>
            <p><%= "#{formatted_title}: #{value}" %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div> -->