<h2>Doggie Profile</h2>

<p>Enter the dog's details below. Please be as accurate as possible.</p>

<div class="span-8">
  <h4>Medical</h4>
  <form action="medical_eval" method="post">
    <label>Medical History</label>
    <textarea name="medical_history"></textarea>
    <label>Indemnities</label>
    <textarea name="indemnities"></textarea>
    <input type="submit" value="Submit" class="btn btn-success">
  </form>
</div>