<h4>Please sign in using your first and last name.</h4>

<form action="/sign_in" method="post">
  <input type="text" name="employee_name">
  <input type="submit" value="Sign in" class="btn btn-primary">
</form>